<div class="table-responsive">
  <table class="table mb-4 table-bordered table-hover" aria-describedby="">
    <thead>
      <tr>
        <th id="" class="text-center table-primary">Nombres</th>
        <td class="text-primary table-light" colspan="5">
          <p class="fw-bold mb-1">John Doe</p>
        </td>
        <td rowspan="9" style="width: 100px">
          <img
            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
            alt=""
            style="width: 145px; height: 145px"
            class="rounded-circle"
          />
        </td>
      </tr>
      <tr>
        <th id="" class="text-center table-primary">Apellidos</th>
        <td class="text-primary table-light" colspan="5">
          <p class="fw-bold mb-1">John Doe</p>
        </td>
      </tr>
      <tr rowspan="1">
        <th id="" class="text-center table-primary">Telefono</th>
        <td class="text-primary table-light" colspan="5">
          <p class="fw-bold mb-1">J312279445</p>
        </td>
      </tr>
      <tr rowspan="1">
        <th id="" class="text-center table-primary">Direccion</th>
        <td class="text-primary table-light" colspan="5">
          <p class="fw-bold mb-1">Calle 13</p>
        </td>
      </tr>
    </thead>
  </table>
</div>
