
  <div class="modal-content" style="display:block; width: 100%;">
    <div class="modal-header bg-secondary p-2 text-dark bg-opacity-50">
      <div class="text-center exo pt-4 text-white" style="font-size: 36px">{{ title }}</div>
      <app-button-close
        (cerrarModal)="cerrar($event)"
        [addClassTopRight]="true"
      ></app-button-close>
      <div class="p-3">
        
        <div class="mt-0 p-2 mb-0 text-center">
          <a class="" (click)="cerrar(true)" href="javascript:void(0)"> </a>.
        </div>
      </div>
    </div>
    <div class="modal-body">
      <form [formGroup]="forma" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="fullName"
            aria-describedby="fullName"
            placeholder="Nombre"
          />
          <app-validations-errors
            class="mt-2 mb-2"
            [forma]="forma"
            formControlLabel="fullName"
            [minlenght]="3"
          ></app-validations-errors>
        </div>

        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="userName"
            aria-describedby="userName"
            placeholder="Usuario"
          />
          <app-validations-errors
            class="mt-2 mb-2"
            [forma]="forma"
            formControlLabel="userName"
            [minlenght]="3"
          ></app-validations-errors>
        </div>

        <div class="mb-3">
          <input
            type="number"
            class="form-control"
            formControlName="phone"
            aria-describedby="phone"
            placeholder="Telefono"
          />
          <app-validations-errors
            class="mt-2 mb-2"
            [forma]="forma"
            formControlLabel="phone"
            [minlenght]="3"
          ></app-validations-errors>
        </div>

        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="address"
            aria-describedby="address"
            placeholder="Direccion"
          />
          <app-validations-errors
            class="mt-2 mb-2"
            [forma]="forma"
            formControlLabel="address"
            [minlenght]="3"
          ></app-validations-errors>
        </div>

        <div class="mb-3">
          <div class="input-group">
          <input
            #password
            type="password"
            class="form-control"
            formControlName="password"
            aria-describedby="password"
            placeholder="Contraseña"
          />
          <a class="btn btn-outline-secondary" (click)="showPassword('password')"><fa-icon [icon]="faEye"></fa-icon></a>
        </div>
          <app-validations-errors
            class="mt-2 mb-2"
            [forma]="forma"
            formControlLabel="password"
            [minlenght]="3"
          ></app-validations-errors>
        </div>

        <div class="mb-3 ">
          <div class="input-group">
            <input
              #passwordConfirmation
              type="password"
              class="form-control"
              formControlName="passwordConfirmation"
              aria-describedby="passwordConfirmation"
              placeholder="Confirmar Contraseña"
            />
            <a class="btn btn-outline-secondary" (click)="showPassword('passwordConfirmation')"><fa-icon [icon]="faEye"></fa-icon></a>
          </div>
          
          <app-validations-errors
          class="mt-2 mb-2"
          [forma]="forma"          
          formControlLabel="passwordConfirmation"
          [minlenght]="3"
          ></app-validations-errors>
          <small class="alert alert-danger mb-2 form-control exo text-field shadow-none" role="alert" *ngIf="formaPasswordConfirmation">
          Las Contraseñas no son iguales
        </small>  
        </div>
        <button type="submit" [disabled]="forma.valid" class="btn btn-outline-primary form-control">Registrar</button>
      </form>
    </div>
    <div class="modal-footer bg-light p-2 text-dark bg-opacity-50">
      <a class="cursor-pointer" href="javascript:void(0);" (click)="login.open()" (click)="cerrar(true)">Ya estoy registrado</a>
    </div>
  </div>
  <app-base-modal #login [target]="'login'"></app-base-modal>  