
  <div class="modal-content" style="display:block; width: 100%;">
    <div class="modal-header bg-success p-2 text-dark bg-opacity-50">
      <div class="text-center exo pt-4 text-white" style="font-size: 36px">{{ title }}</div>
      <app-button-close
        (cerrarModal)="cerrar($event)"
        [addClassTopRight]="true"
      ></app-button-close>
      <div class="p-3">
        
        <div class="mt-0 p-2 mb-0 text-center">
          <a class="" (click)="cerrar(true)" href="javascript:void(0)"> </a>.
        </div>
      </div>
    </div>
    <div class="modal-body">
      <form [formGroup]="forma" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            aria-describedby="firstName"
            placeholder="Nombre"
          />
          <app-validations-errors
            class="mt-2 mb-2"
            [forma]="forma"
            formControlLabel="firstName"
            [minlenght]="3"
          ></app-validations-errors>
        </div>

        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            aria-describedby="lastName"
            placeholder="Apellido"
          />
          <app-validations-errors
            class="mt-2 mb-2"
            [forma]="forma"
            formControlLabel="lastName"
            [minlenght]="3"
          ></app-validations-errors>
        </div>

        <div class="mb-3">
          <input
            type="number"
            class="form-control"
            formControlName="phone"
            aria-describedby="phone"
            placeholder="Telefono"
          />
          <app-validations-errors
            class="mt-2 mb-2"
            [forma]="forma"
            formControlLabel="phone"
            [minlenght]="3"
          ></app-validations-errors>
        </div>

        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="address"
            aria-describedby="address"
            placeholder="Direccion"
          />
          <app-validations-errors
            class="mt-2 mb-2"
            [forma]="forma"
            formControlLabel="address"
            [minlenght]="3"
          ></app-validations-errors>
        </div>

        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            aria-describedby="password"
            placeholder="Contraseña"
          />
          <app-validations-errors
            class="mt-2 mb-2"
            [forma]="forma"
            formControlLabel="password"
            [minlenght]="3"
          ></app-validations-errors>
        </div>

        <div class="mb-3 input-group">
          <input
            #password
            type="password"
            class="form-control"
            formControlName="passwordConfirmed"
            aria-describedby="passwordConfirmed"
            placeholder="Confirmar Contraseña"
          />
          <button class="btn btn-outline-secondary" (click)="showPassword()">ver</button>
          <app-validations-errors
            class="mt-2 mb-2"
            [forma]="forma"
            formControlLabel="passwordConfirmed"
            [minlenght]="3"
          ></app-validations-errors>
        </div>
      </form>
    </div>
    <div class="modal-footer bg-info p-2 text-dark bg-opacity-50">
      <button type="submit" [disabled]="forma.invalid" class="btn btn-primary">Registrar</button>
      <a class="cursor-pointer" href="javascript:void(0);" (click)="login.open()" (click)="cerrar(true)">Ya estoy registrado</a>
    </div>
  </div>
  <app-base-modal #login [target]="'login'"></app-base-modal>