<div class="container my-3">
    <div class="card border-success mb-3">
        <div class="card-header "><strong>Formulario de Creacion de Examen</strong></div>
        <div class="card-body">
            <form [formGroup]="forma" class="row g-3 text-center" (ngSubmit)="onSubmit()">
             
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Escoja el alumno</label>
                    <select id="inputState" class="form-select" formControlName="name" #name>
                      <option selected>Escoja...</option>
                      <option *ngFor="let student of clients"  >{{student.firstName | uppercase}} {{student.lastName | uppercase}}</option>
                    </select>
                </div>
                <ng-template *ngIf="name.value">

                    <div >hola </div>
                </ng-template>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Crear Examen</button>
                </div>
            </form>
        </div>
    </div>
</div>
    
    
